  @import url('https://fonts.googleapis.com/css2?family=Forum&family=Work+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto", sans-serif;
    color: #000;
    background-color: #fff;
  }
}
